.align-item-center {
	display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.ls-section {
	min-height: 540px;
	padding:80px 0;
	background: $branco;
	&#ls-sobre {
		min-height: auto;
	}
	&#ls-terceirizacoes {
		background: url(../../../images/background-ls-terceirizacao.jpg) center top;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: auto;
		p {
			color: $branco;
			a {
				color: $branco;
				font-family: "Gotham HTF Medium";
				border-bottom: 1px solid $branco;
				text-decoration: none;
		    &:hover {
					border-bottom: 0;		    	
		    }
			}
		}
	}
	&#ls-candidatos-empresas {
		min-height: auto;
		h2 {
			margin-bottom: 30px;
		}
		a {
			display: inline-block;
			padding: 15px 30px;
			color: $branco;
	    font-family: "Gotham HTF Medium";
	    background-color: $cinza_escuro;
		}
		.candidatos {
			padding: 60px 40px;
			border: double $azul;
    	a:hover {
	    	background-color: $azul;
	    }
    }
    .empresas {
			padding: 60px 40px;
			border: double $vermelho;
    	a:hover {
	    	background-color: $vermelho;
	    }
    }
	}
	&#ls-recrutamento-selecao {
		background: $vermelho;
		min-height: auto;
		background:	url(../../../images/background-recrutamento-selecao.jpg) center top;
		background-repeat: no-repeat;
		background-size: cover;
		color:#fff;
		.col-lg-8 {
			padding-top: 50px;
		}
	}
	&#ls-recrutamento-emprego {
		background: $azul;
	}
	&#ls-temporarios {
		background: #333333;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: auto;
		color: $branco;
		ul {
			margin: 0;
    	padding: 0 0 0 16px;
		}
	}
	&#ls-vagas-disponiveis {
		min-height: 300px;
		.vaga-item {
			border: 1px solid $azul_escuro_2;
			margin: 0 10px;
			padding: 20px 20px;
			.salario {
				background: $azul;
				color: $branco;
				padding: 0 3px;
			}
		}
	}
	&#ls-outros-servicos {
		background: $azul;
		color: $branco;
		.outros-serv-item {
			border: double $branco;
			padding: 40px;
			span {
				display: inline-block;
				width: 141px;
				height: 141px;
				margin: 0 auto;
		    margin-bottom: 30px;
		    border-radius: 100%;
		    background: $branco;
		    img {
		    	margin-top:40px;
		    }
			}
			h3 {
				text-shadow: 2px 1px 0 rgba(0,0,0,0.2);
			}
		}
	}
	&#ls-noticias {
		background: #eee;
		.noticia-item {
			border: 1px solid $azul_escuro_2;
			margin: 0 10px;
			padding: 20px 20px;
			.tag {
				display: inline-block;
				background: $vermelho;
				color: $branco;
				padding:0 3px;
				margin-bottom: 10px;
			}
		}
	}
	&#ls-contato {
		ul {
			text-align: right;
			li {
				display: block;
				font-size: 20px;
				span {
					color: $vermelho;
					font-family: "Gotham HTF Medium";
					font-size: 22px;
				}
			}
		}
		.campo {
			a {
				display: inline-block;
				padding: 15px 90px 15px 30px;
				color: $branco;
		    font-family: "Gotham HTF Medium";
		    background: url(../../../images/icon-mail.png) no-repeat 110px center $vermelho;
		    position: relative;
		    &:after {
		    	content: '';
		    	position: absolute;
		    	left: 90px;
		    	top:50%;
		    	margin-top:-12px;
		    	height:24px;
		    	border-left: 1px solid rgba(255,255,255,.5);
		    }
		    &:hover {
		    	background-color: $cinza_escuro;
		    }
			}
		}
	}
	&#ls-localizacao {
		padding:0;
	}
}

footer {
	text-align: center;
	padding: 40px 0;
	background: $branco;
}

@media (max-width: 991.98px) {
	
}